main{
    display: flex;
    justify-content: space-between;
}

#sign-up-now{
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 10%;
    background-color: blue;
    border-bottom-right-radius: 100%;

}

.sign-up-btn{
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sign-up-btn:hover{
    color: blue;
    background-color: white;

}

#signin{

    align-items: center;
    text-align: center;
    padding-right: 20%;
    padding-top: 5%;
}

.sign-in-btn{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 10%;
    width: 70%;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 150px;
    color: white;
    text-align: center;
}

.sign-in-btn:hover{
    color: blue;
    background-color: white;
}

.username{
    margin-top: 10%;
    border-radius: 150px;
    border: 1px solid gray;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#username{
    border:none;
}

.email{
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 150px;
    border: 1px solid gray;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#email{
    border: none;
}

.password{
    border-radius: 150px;
    border: 1px solid gray;
    margin-bottom: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#password{
    border: none;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#facebook{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5%;
}

#twitter{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}

#linkedin{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}

#google{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}






#main2{
    display: flex;
    justify-content: space-around;
}

#signin2{

    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.sign-in-btn2{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 10%;
    width: 70%;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 150px;
    color: white;
    text-align: center;
}

.sign-in-btn2:hover{
    color: blue;
    background-color: white;
}

.username2{
    margin-top: 10%;
    border-radius: 150px;
    border: 1px solid gray;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#username2{
    border: none;
}

.email2{
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 150px;
    border: 1px solid gray;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#email2{
    border: none;
}

.password2{
    border-radius: 150px;
    border: 1px solid gray;
    margin-bottom: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 130%;
    text-align: center;
}

#password2{
    border: none;
}

.icons2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#facebook2{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5%;
}

#twitter2{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}

#linkedin2{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}

#google2{
    border: 1px solid gray;
    border-radius: 100%;
    padding: 20%;
}

#worker{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: -10%;
}